@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-green-500: #24ae7c;
  --color-green-600: #0d2a1f;

  --color-blue-500: #79b5ec;
  --color-blue-600: #152432;

  --color-red-500: #f37877;
  --color-red-600: #3e1716;
  --color-red-700: #f24e43;

  --color-light-200: #e8e9e9;

  --color-dark-200: #0d0f10;
  --color-dark-300: #131619;
  --color-dark-400: #1a1d21;
  --color-dark-500: #363a3d;
  --color-dark-600: #76828d;
  --color-dark-700: #abb8c4;

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;

  --container-padding: 2rem;
  --container-2xl: 1400px;

  --background-image-appointments: url("/assets/images/appointments-bg.png");
  --background-image-pending: url("/assets/images/pending-bg.png");
  --background-image-cancelled: url("/assets/images/cancelled-bg.png");

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
  --animation-caret-blink: caret-blink 1.25s ease-out infinite;
}

/* UTILITIES */

@utility my-container {
  @apply relative! flex-1! overflow-y-auto! px-[5%]!;
}

@utility sidebar {
  width: 100%;
  max-width: 18rem;
  overflow: auto;
  padding: 2.5rem 1.75rem;
}

@utility side-img {
  @apply hidden h-full object-cover md:block;
}

@utility sub-container {
  @apply mx-auto flex size-full flex-col py-10;
}

@utility sub-header {
  @apply text-18-bold md:text-24-bold;
}

@utility text-36-bold {
  @apply text-[36px] leading-10 font-bold;
}

@utility text-24-bold {
  @apply text-[24px] leading-7 font-bold;
}

@utility text-32-bold {
  @apply text-[32px] leading-9 font-bold;
}

@utility text-18-bold {
  @apply text-[18px] leading-6 font-bold;
}

@utility text-16-semibold {
  @apply text-[16px] leading-5 font-semibold;
}

@utility text-16-regular {
  @apply text-[16px] leading-5 font-normal;
}

@utility text-14-medium {
  @apply text-[14px] leading-4.5 font-medium;
}

@utility text-14-regular {
  @apply text-[14px] leading-4.5 font-normal;
}

@utility text-12-regular {
  @apply text-[12px] leading-4 font-normal;
}

@utility text-12-semibold {
  @apply text-[12px] leading-4 font-semibold;
}

@utility header {
  @apply text-32-bold md:text-36-bold;
}

@utility input-phone {
  @apply h-11 rounded-md px-3 text-sm border bg-dark-400 placeholder:text-dark-600 border-dark-500;
}

@utility radio-group {
  @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-dark-500 bg-dark-400 p-3;
}

@utility file-upload {
  @apply text-12-regular flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-dark-500 bg-dark-400 p-5;
}

@utility file-upload_label {
  @apply flex flex-col justify-center gap-2 text-center text-dark-600;
}

@utility checkbox-label {
  @apply cursor-pointer text-sm font-medium text-dark-700 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
}

@utility remove-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE / Edge antigo */
  scrollbar-width: none; /* Firefox */
}

@utility copyright {
  @apply text-14-regular justify-items-end text-center text-dark-600 xl:text-left;
}

@utility success-img {
  @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-10;
}

@utility request-details {
  @apply flex w-full flex-col items-center gap-8 border-y-2 border-dark-400 py-8 md:w-fit md:flex-row;
}

@utility admin-header {
  @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-dark-200 px-[5%] py-5 shadow-lg xl:px-12;
}

@utility admin-main {
  @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
}

@utility admin-stat {
  @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
}

@utility stat-card {
  @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
}

@utility status-badge {
  @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
}

@utility table-actions {
  @apply flex w-full items-center justify-between space-x-2 p-4;
}

/* SHADCN OVERRIDES */

@utility shad-input {
  @apply bg-dark-400! placeholder:text-dark-600! border-dark-500! h-11! focus-visible:ring-0! focus-visible:ring-offset-0!;
}

@utility shad-primary-btn {
  @apply bg-green-500 text-white;
}

@utility shad-select-trigger {
  @apply bg-dark-400  placeholder:text-dark-600 border-dark-500 h-11 focus:ring-0 focus:ring-offset-0;
}

@utility shad-select-content {
  @apply bg-dark-400 border-dark-500;
}

@utility shad-textArea {
  @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 focus-visible:ring-0 focus-visible:ring-offset-0;
}

@utility shad-danger-btn {
  @apply bg-red-700 text-white;
}

.shad-alert-dialog {
  @apply space-y-5 bg-dark-400 border-dark-500 outline-none;
}

.shad-otp {
  @apply w-full flex justify-between;
}

.shad-otp-slot {
  @apply text-36-bold justify-center flex border border-dark-500 rounded-lg size-16 gap-4;
}

.shad-dialog {
  @apply bg-dark-400 border-dark-500 outline-0;
}

.shad-dialog button {
  @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
}

.shad-table {
  @apply rounded-lg overflow-hidden;
}

.shad-table-row-header {
  @apply border-b border-dark-400 text-light-200 hover:bg-transparent;
}

.shad-table-row {
  @apply border-b border-dark-400 text-light-200;
}

@utility shad-gray-btn {
  @apply border border-dark-500 cursor-pointer bg-dark-400 text-white;
}

/* REACT PHONE NUMBER INPUT OVERRIDES */

.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #edf4fd;
}

.PhoneInputCountrySelect {
  background-color: var(--color-dark-400);
  color: var(--color-dark-700);
}

.PhoneInputCountrySelect option {
  background-color: var(--color-dark-400);
  color: var(--color-dark-700);
}

.PhoneInputCountrySelect option:checked,
.PhoneInputCountrySelect option:hover {
  background-color: var(--color-dark-500);
  color: #fff;
}

/* REACT DATEPICKER OVERRIDES */

.date-picker {
  @apply overflow-hidden border-transparent w-full placeholder:text-dark-600  h-11 text-14-medium rounded-md outline-none;
}

.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}
