@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-green-500: #24ae7c;
  --color-green-600: #0d2a1f;

  --color-blue-500: #79b5ec;
  --color-blue-600: #152432;

  --color-red-500: #f37877;
  --color-red-600: #3e1716;
  --color-red-700: #f24e43;

  --color-light-200: #e8e9e9;

  --color-dark-200: #0d0f10;
  --color-dark-300: #131619;
  --color-dark-400: #1a1d21;
  --color-dark-500: #363a3d;
  --color-dark-600: #76828d;
  --color-dark-700: #abb8c4;

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;

  --container-padding: 2rem;
  --container-2xl: 1400px;

  --background-image-appointments: url("/assets/images/appointments-bg.png");
  --background-image-pending: url("/assets/images/pending-bg.png");
  --background-image-cancelled: url("/assets/images/cancelled-bg.png");

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
  --animation-caret-blink: caret-blink 1.25s ease-out infinite;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* REMINDER: ITS NOT WORKING */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

/* UTILITIES */

@utility scroll-hidden {
  -ms-overflow-style: none;
}

@utility sidebar {
  width: 100%;
  max-width: 18rem;
  overflow: auto;
  padding: 2.5rem 1.75rem;
}

@utility container {
  @apply relative flex-1 overflow-y-auto px-[5%];
}

@utility sub-container {
  @apply mx-auto flex size-full flex-col py-10;
}

@utility text-36-bold {
  @apply text-[36px] leading-10 font-bold;
}

@utility text-24-bold {
  @apply text-[24px] leading-7 font-bold;
}

@utility text-32-bold {
  @apply text-[32px] leading-9 font-bold;
}

@utility text-18-bold {
  @apply text-[18px] leading-6 font-bold;
}

@utility text-16-semibold {
  @apply text-[16px] leading-5 font-semibold;
}

@utility text-16-regular {
  @apply text-[16px] leading-5 font-normal;
}

@utility text-14-medium {
  @apply text-[14px] leading-4.5 font-medium;
}

@utility text-14-regular {
  @apply text-[14px] leading-4.5 font-normal;
}

@utility text-12-regular {
  @apply text-[12px] leading-4 font-normal;
}

@utility text-12-semibold {
  @apply text-[12px] leading-4 font-semibold;
}

@utility header {
  @apply text-32-bold md:text-36-bold;
}

@utility input-phone {
  @apply mt-2 h-11 rounded-md px-3 text-sm border bg-dark-400 placeholder:text-dark-600! border-dark-500;
}

/* SHADCN OVERRIDES */

@utility shad-input {
  @apply bg-dark-400! placeholder:text-dark-600! border-dark-500! h-11! focus-visible:ring-0! focus-visible:ring-offset-0!;
}

@utility shad-primary-btn {
  @apply bg-green-500 text-white;
}

/* REACT PHONE NUMBER INPUT OVERRIDES */

.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #edf4fd;
}

.PhoneInputCountrySelect {
  background-color: var(--color-dark-400);
  color: var(--color-dark-700);
}

.PhoneInputCountrySelect option {
  background-color: var(--color-dark-400);
  color: var(--color-dark-700);
}

.PhoneInputCountrySelect option:checked,
.PhoneInputCountrySelect option:hover {
  background-color: var(--color-dark-500);
  color: #fff;
}
